@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
:root{
    --primary-black : #131921;
}
*{
	font-family: 'Gabarito', sans-serif;
	border-radius:  0.5rem !important;

}
body{
	background-color: #fff;
}
.btn{
    border-radius: 3px !important;
}

.btn-primary{
	background-color: #0FA3B1 !important;
}
.bg-primary-color{
	background-color: #0FA3B1 !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	box-shadow: none !important;
	outline: none !important;
}

.form-control.active.focus, .form-control.active:focus,
.form-control.focus, .form-control:active.focus, 
.form-control:active:focus, .form-control:focus {
	box-shadow: none !important;
	outline: none !important;
}
.form-control{
	border-radius: 3px !important;
}
.navbar{
	background-color: #fff !important;
	border-radius: 0 !important;
}
.navbar .navbar-brand img{
	filter: invert(1);
}
.navbar-nav .search-box{
	background-color: #f0f0f0 !important;
	width: 600px;
	margin-right: 50px;
	border-radius: 3px;
}
.navbar-nav .search-box input{
	background-color: #f0f0f0 !important;
	border: 0;
}
.navbar-nav .nav-link{
	opacity: 1 !important;
}
.navbar .dropdown-menu[data-bs-popper]{
	left: -80px;
	border-radius: 3px;
}
.sliders{
	height: 450px;
	width: 100% !important;
	object-fit: contain;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}
.btn-outline{
	border: 1px solid #f0f0f089;
}
.btn-outline:hover{
	background-color: #fff;
	color: var(--primary-black);
}
.swiper-button-next, .swiper-button-prev{
	color: #fff;
	height: 100%;
	top: 0;
	padding: 10px;
}
.shopping-card{
	border-radius: 3px;
	border: none;
	padding: 10px;
	text-decoration: none;
}
a{
	text-decoration: none;
	color: #000;
}
.shopping-card h5{
	font-size: 16px;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	text-decoration: none;
}
.shopping-card img{
	height: 200px;
	object-fit: contain;
}

.section-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
.section-header a{
	font-weight: 600;
	font-size: 14px;
}
.section-title{
	margin-bottom: 0;
	font-weight: 600;
}
.card-text{
	font-size: 15px;
	font-weight: 500;
}